@model IList<DataAccesss.Entities.Dtos.UniversityListDto>
@{
    ViewData["Title"] = "IndexDto";
}

<h1>Üniversite Litesi Dto ile</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Üniversite Adı")
   @*             @Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                @Html.DisplayName("Üniversitenin Bulunduğu Şehir")
           @*     @Html.DisplayNameFor(model => model.City)*@
            </th>
            <th>
                @Html.DisplayName("Kayıt Ekleme")
              @*  @Html.DisplayNameFor(model => model.CreatedAt)*@
            </th>

            <th>
                @Html.DisplayName("Ekleyen Kişi")
          
            </th>
    
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUserName)
                </td>
     
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


